[2021-06-10 23:39] swedneck opened #1 "Network change while running results in broken connection"
The interface remains up on both ends (only tested with desktop and laptop) with no change, but any attempts to ping either device fail.

[2021-06-11 01:13] alecbcs commented on #1
Interesting! Is this with a full network change (moving from one public IP address to another) or switching internal IP addresses within a local network (for example going from WiFi to an Ethernet connection)? I haven't had the opportunity to test moving between public IP addresses yet (a.k.a I haven't taken my laptop down to a coffee shop) . But switching between WiFi and an Ethernet connection o

[2021-06-12 12:35] prorusnet opened #2 "OS support?"
Hello, will there be windows 10 and android support?

[2021-06-12 14:32] alecbcs commented on #2
Hi @prorusnet! I think writing support for Windows could totally be possible! It's just that at the moment I don't actually have any devices that run Windows so I'd be a bit nervous about releasing something without being able to test it first. If someone from the community who runs Windows would be interested in contributing I'd be happy to accept some pull requests/work with them to build out so

[2021-06-12 14:37] alecbcs commented on #1
Hmm let's see if we can't work on making this a bit quicker! It might be a limitation of the Libp2p underlying network stack but I know the guys over there were looking to make AutoNAT (the system for finding and connecting to devices behind NATs/Firewalls) quicker and more robust.

Not at the moment but this is a great idea! Were you thinking the interfaces should write their logs to a file? If s

[2021-06-12 14:43] #2 closed

[2021-06-12 19:28] swedneck opened #6 "Logging"
I figure it's best to make this a separate issue.

After asking for other people's thoughts, i think a good way to do logging is to either just output everything to stdout/stderr (where applicable) (probably easy to implement), or having configurable logging files per interface and maybe one for the whole daemon?
As well as having configurable logging levels: Debug (ALL the details), Info (message

[2021-06-12 19:28] swedneck commented on #1
Made a separate issue for logging.

[2021-06-13 21:41] alecbcs commented on #6
Great! I'll start on this by adding support for the few different levels of logging to stdin/out/err over this next week and then we can start thinking about how we might support writing to a file and what effects that might have on performance.

[2021-06-15 02:29] alecbcs opened #8 "Improve Daemon Setup Error Handling"
Right now if you try and bring a device up twice Hyprspace will tell you the setup completed successfully when actually an error occurred because another instance is already running. We should better handle these errors and relay them to users.

Example of current bad error handling,

[code]

[2021-06-15 02:31] alecbcs opened #9 "Allow Multiple Interfaces by Checking if Default Port Already In Use"
If a user has multiple Hyprspace interfaces running we should either allow custom ports or automatically detect when the default port is in use and pick another. (Preferably Both)

[2021-06-17 00:09] swedneck opened #10 "Traceroute?"
Is there any way to trace the route that data takes over hyprspace?
Using traceroute normally just results in a single hop, which is obviously not what's actually going on behind the scenes.

[2021-06-17 03:51] alecbcs commented on #10
Hmm no not really? Or at least not without writing a separate trace route protocol on top of libp2p. The problem is that the packets you send over Hyprspace are encrypted and wrapped in another packet at each host so that the host packets can be addressed to the virtual ip addresses and not actually have to know the real ip address of the peer.

That said, in order to get the real path getting fro

[2021-06-17 05:30] #8 closed

[2021-06-17 05:30] #9 closed

[2021-06-17 16:43] swedneck commented on #10
Alright, thanks for the knowledge!

[2021-06-17 16:45] swedneck opened #12 "MIPS/smaller binary"
I've tried compiling hyprspace for MIPS so i can run it on my router, but it turns out that the binary is about 2x as big as all of the storage on my router :D

I'm wondering how feasible it would be to shrink this binary, maybe i'm just missing a bunch of optimization flags for the compiler?
It'd be a shame to not be able to run hyprspace on most routers, since it would be *extremely* useful.

[2021-06-18 16:25] alecbcs commented on #12
Interesting! Yeah it's totally possible to make the binary smaller to support routers. I'd take a look at something like [UPX](https://github.com/upx/upx) to compress the binary. If you download the UPX binary for your system, you can run `./upx --brute hyprspace` to compress the hyprspace binary. Doing that I was able to shrink the x86_64 binary from 23MB to 5.3MB. It will increase the time for H

[2021-06-18 18:17] swedneck commented on #12
Great! Unfortunately that's still half the size of my router's storage, but at least that makes it *possible* to run.

Maybe i'll try plugging a usb drive into the router and see if i can mount that as storage :P

[2021-06-19 19:30] alecbcs commented on #12
Cool! Unfortunately the whole libp2p stack is a bit large but definitely let me know if adding the USB works!

[2021-06-21 19:33] LynHyper opened #13 "CLI tools for easier interface/peer creation"
Hi, I've been following this project for a while out of interest (mainly since this is the only project like this which allows VPN's behind double-NAT's with dynamic IP's) and I have a suggestion. Is it possible to create CLI tools to streamline the process? For example...

PEER A:
sudo hyprspace list peers
    'no peers are configured'
sudo hyprspace create peer 10.1.1.2
    created peer 10.1.1.1

[2021-06-24 00:49] alecbcs commented on #13
@LynHyper no I think this is a great idea! It's definitely not too much! Since you can have multiple interfaces within Hyprspace we'd need some way of telling Hyprspace which interface to add the peer to. But I think some cli way of doing this would be a good addition for usability. What do you think about something like,

[code]

Or maybe it's worth it to mimic something like that `rclone config`

[2021-06-24 16:38] LynHyper commented on #13
Good point about per-interface stuff, hadn't though about that.

Maybe peers could be given a label so it's easier to tell which peer belongs to which device, it'd be nice to have the ability to establish a connection and then have CLI act on all connected peers; changing a label for a peer would be done for all peers connected to hs0 (don't know how complicated that would be).

I think borrowing

[2021-06-26 17:36] #12 closed

[2021-06-26 21:46] swedneck commented on #12
Was closing this intentional? Just want to make sure github didn't get overly enthusiastic about "help fix #12" :D

[2021-06-27 21:58] LynHyper opened #18 "Linux repositories?"
I realise this might be a lot to ask given how many Linux repositories there are, but could you add Hyprspace within a few of them? Particularly easier (according to what I've heard) repositories to submit to like the AUR and ones like it.

If not, perhaps an install script that streamlines installing and updating the program could be used instead to support as many platforms as possible?

Looking

[2021-06-28 05:37] alecbcs commented on #18
Hey @LynHyper! Adding Hyprspace to some Distribution Repositories is definitely on my to do list! I've got experience building and maintaining packages for [Solus](https://getsol.us) but not for many others so I'll have to take a look at learning those other build systems and that might be a slightly longer project. (If anyone else has experience with these other distro packaging systems any help

[2021-06-28 12:14] LynHyper commented on #18
Nope, that's pretty much it, I completely forgot about 'hyprspace update'. I think I'll close the issue then.

[2021-06-28 12:14] #18 closed

[2021-08-20 14:29] LynHyper opened #26 "p2p-*-proxy support?"
I'm wondering if hyprspace could support connecting to an IPFS node with experimental settings such as p2p-http-proxy or p2p-tcp-proxy? For example:

[code]
[code]
[code]

This might take a fair bit of work, I'm honestly not sure how useful this would be either, let me know what you think.

[2021-08-20 17:24] LynHyper commented on #26
On second thoughts, this would create more problems than it solves; it's usecase isn't particularly needed and would directly interfere with hyprspace's existing feature set, I think I'll close this issue.

[2021-08-20 17:24] #26 closed

[2021-08-23 02:51] alecbcs commented on #26
Hey @LynHyper apologies I just got back from taking a week off. This would be cool but I think you're right that it might add a lot of complexity to hyprspace. I haven't messed around with the ipfs `p2p-tcp-proxy` functionality but maybe if they're chunking packets similarly to us it could work?

[2021-08-23 02:57] alecbcs commented on #13
Okay so let's properly start working on an implementation because I like some of these ideas. @LynHyper I'm thinking of breaking down the feature set you mentioned in the discussion post into a few additions.
1) A command line interface for creating/importing a peer.
2) A full cli configuration wizard? to allow you to setup and add peers on an init.
3) Functionality to save peers into groups and p

[2021-08-23 10:17] LynHyper commented on #13
A configuration wizard would definitely be the way to go; I think there are too many CLI commands in my original discussion to be reasonable to fully implement so it makes sense why you want to go for an `add-only` method to simplify things.

I think you'll also need to have a way to create/import groups too; otherwise you'd need to modify the config manually to add groups and at that point you mi

[2021-08-25 10:48] LynHyper opened #28 "WAN-only/LAN-only modes?"
It'd be nice to have the ability to have hyprspace isolated to just the WAN or just the LAN network depending on what it will be used for.

To my understanding, hyprspace's node publishes the multiaddresses for both the private and public ip-addresses, this either exposes the inner network topology in the LAN case or publishes the public ip-address for a hyprspace node intended for local use only

[2021-08-28 03:11] millken opened #29 "Could not run on Mac M1"
[code]

[2021-08-28 05:53] alecbcs commented on #29
Hey @millken, I believe there is a note about this in the documentation, but when using a Mac you have to name your interface `utun[0-9]` so if you were running hyprspace that would be,
[code]

Unfortunately this is a limitation of MacOS and not something I can control. Let me know if that doesn't fix your issue however and I'll look into it.

[2021-08-28 05:57] alecbcs commented on #28
This could be interesting! The only issue might be portability if say you limit a node to LAN only and then forget and try to connect to it from out of the local network. It would be helpful to get more information on how people are using Hyprspace to see how many people this would help if you wanted to disable one network or another, versus people who jump between local and remote networks freque

[2021-08-28 12:48] millken commented on #29
Have tried both, its still the same using `utun[0-9]+`, download code and debug found this will not be successful.https://github.com/hyprspace/hyprspace/blob/5ff46dc02eeccecec17ab41813d1a45f940caa8d/cli/up.go#L111

[2021-08-28 16:08] alecbcs commented on #29
Very strange. I just installed hyprspace on my own new M1 Mac and I'm not seeing any issues. This is the exact installation process I ran through and the following output.
[code]

Do you have any other kind of network management software running that might be blocking a tun device from being created?

[2021-08-28 16:53] LynHyper commented on #28
That is a good point, maybe `hyprspace init` should print if it's in LAN/WAN only mode just to make sure people don't accidently set it to one and forget?

[2021-08-29 01:33] millken commented on #29
The tun device can be created,but IP address cannot assign.
[code]

[2021-09-10 15:17] notassigned opened #32 "QUIC not TCP"
### Discussed in https://github.com/hyprspace/hyprspace/discussions/31

<div type='discussions-op-text'>

<sup>Originally posted by **notassigned** September 10, 2021</sup>
Since this is a VPN we shouldn't be using TCP, since we may run into a TCP meltdown when running a TCP connection over the VPN connection.

I suggest switching the listen addrs to QUIC.

https://openvpn.net/faq/what-is-tcp-melt

[2021-09-10 15:27] notassigned commented on #32
I have a branch for this. Just give me write permission and I'll push it.

[2021-09-10 20:11] mrbluecoat commented on #29
FYI, not sure why but Debian 10 on the Orange Pi R1 Plus needed to use the utun[0-9] naming as well.

[2021-09-10 20:39] mrbluecoat opened #33 "VPN or Overlay Network?"
Hi, cool project! I see you describe it as a VPN but is it more like an Overlay Network (like [Nebula](https://github.com/slackhq/nebula)?) As a VPN I would have assumed you could route all your traffic through it with an external IP showing as the exit node. This looks more like a tool to allow optional connections between systems, right?

[2021-09-10 20:53] LynHyper commented on #33
Hyprspace *can* forward all traffic to a node, see the bottom of https://github.com/hyprspace/hyprspace/discussions/3 for how, but, you are correct that without explicit configuration hyprspace does not forward traffic by default. (Not a dev btw)

[2021-09-10 21:05] LynHyper commented on #32
Does your branch completely replace TCP with QUIC or provide both as options?

There are situations where TCP is the only way the VPN can be formed, such as in very locked down public networks within offices or campuses that for some reason block all UDP traffic including QUIC, so keeping TCP as an option is needed when QUIC won't work.

[2021-09-10 21:18] mrbluecoat commented on #33
Thanks @LynHyper ! https://github.com/hyprspace/hyprspace/discussions/3#discussioncomment-1037812 was exactly what I was looking for

[2021-09-10 21:18] #33 closed

[2021-09-10 21:22] notassigned commented on #32
I just removed the TCP listen addrs and replaced them with QUIC multiaddrs. TCP is still a transport that can be used but the node doesn't advertise listen addrs for it. The reason I removed them is because I'm not entirely sure how libp2p decides which transports to use when dialing a peer. I will test having both transports and see if I can force the order.

Another thing to keep in mind is that

[2021-09-10 21:34] LynHyper commented on #32
Ah I see, some form of `hyprspace init --force-tcp` option would probably need to added, there must be a way to define the order of transports; I'll look out for it if I can find it.

[2021-09-11 02:07] bmullan opened #36 "Hyprspace README might need an update"
I just tonite found out about hyprspace.

The Github README file though said this about Wireguard:

I don't think that's totally accurate.   There are quite a few Github Repo's covering use of Wireguard for full-mesh network overlays.

[2021-09-13 22:07] alecbcs commented on #36
Hi @bmullan as far as I understand it (and I could totally be wrong!) unless each Wireguard node has a public IP address, the only other way to access them is by routing your traffic through one that does right? I guess what I was getting at here is that if most of your infrastructure is without public IPs (for example home servers and laptops) then loosing that one public node leaves everything e

[2021-09-13 22:11] alecbcs commented on #32
Hi all! Just saw #37 and maybe we should consider adding this as a field in the hyprspace configuration for a given interface? Possibly something like,

[code]

By default maybe we accept both QUIC and TCP but allow users to pick one specifically if they can't use QUIC/TCP for a network.

[2021-09-13 22:33] bmullan commented on #36
I think in one sense your description was correct.

**[This yCombinator thread on Wireguard mesh networks is interesting](https://news.ycombinator.com/item?id=27672715)**.

There are quite a few fairly simple wireguard full-mesh solutions today.

One of the tools I found useful is **[vxWireguard-Generator](https://github.com/m13253/VxWireguard-Generator)**

I built a mesh to interconnect container

[2021-09-13 23:30] notassigned commented on #32
The dial method will try to dial multiaddrs for the peer until it gets a connection, so if QUIC can't be used and TCP can then the connection to the peer will be established over TCP. But realistically QUIC will work on virtually all networks and provides numerous benefits over TCP like native roaming, faster connection establishment, and native stream muxing.

I think the only potential downside

[2021-09-20 14:52] alecbcs commented on #29
I can confirm something is going on here. I'll give this a look today and see why the address isn't binding properly/creating the tun device.

[2021-09-20 14:56] alecbcs commented on #1
I'm not sure this is a complete fix but reconnecting should be much improved after #37 is merged in.

[2021-09-23 15:38] LynHyper opened #40 "Can't ping between devices"
Trying to setup a hyprspace connection between my PC and laptop, on the PC's side I'm getting:
[code]
[code]
And on the laptop's side I'm getting:
[code]
[code]
I've only gotten the `Connection to` output to happen once on the PC, all other attempts from then didn't show it, I'm using the latest release on github.

[2021-09-23 15:53] alecbcs commented on #40
@LynHyper can you share your configs from both clients? (Please redact the public & private keys, as well as the discovery key.)

[2021-09-23 15:57] LynHyper commented on #40
I've managed to get the right `Connection to ...` outputs on both sides, copy and pasted the PeerIDs on both sides and that seems to have solved the initial problem, but, I still can't ping from either device.

[2021-09-23 15:59] LynHyper commented on #40
PC:
[code]
Laptop:
[code]

[2021-09-23 16:02] LynHyper commented on #40
Nevermind, turns out I forgot to change `address:`; I assumed it was just for defining the ip-range rather than the ip-address the device would assign itself.

[2021-09-23 16:02] #40 closed

[2021-09-23 16:03] alecbcs commented on #40
Ahh I thought this might be the case when I saw the `ip a` output from your two devices. The `address` of your two interfaces need to be different and match their peer addresses. For example your PC should be `10.1.1.2/24` and your laptop `10.1.1.3/24`.

[2021-09-23 16:03] LynHyper commented on #40
Yep, that was my mistake, it's now all working so yay!

[2021-09-23 16:04] alecbcs commented on #40
Yep! Okay glad that you figured it out as well! That should resolve your issues as the systems now know which packets they should accept.

[2021-09-23 16:05] LynHyper commented on #40
Btw, not sure if it's appropriate to mention here, but, I've created a new discussion post

[2021-09-23 17:14] LynHyper opened #41 "Hyprspace as a valid VPN profile"
I was wondering if hyprspace could be configured to be a valid VPN profile for NetworkManager?

In NetworkManager, Wireguard and OpenVPN interfaces are listed as valid VPN connections, but, hyprspace's interfaces can't be set as a VPN connection since `nmcli` states it's not a valid VPN profile when setting `connection.secondaries`.

Having VPN profile support would make it a lot easier to forward

[2021-09-23 18:59] alecbcs commented on #41
This would be cool! I don't know what it takes to integrate into NetworkManager and I don't have any experience with it. If anyone wants to research this and take it on as a project I'd be happy to help out where I can.

[2021-09-23 19:05] alecbcs commented on #36
vxWireguard-Generator sounds very interesting! Does this require every client to have a public IP address however or does it also do some sort of NAT hole-punching? I'm guessing that when you created your mesh on the different clouds each VM had a public IP right?

[2021-09-23 20:00] LynHyper commented on #41
I'm going to leave some notes here as I find them, I can't code so this is unfortunately something I can't help with, hopefully anyone who finds this issue finds these notes useful in making this feature possible.

*What makes a "valid" VPN?*

From what I've been able to gather from this blog post (https://blogs.gnome.org/thaller/2019/03/15/wireguard-in-networkmanager/), VPNs in NetworkManager see

[2021-09-23 20:18] LynHyper commented on #41
Maybe this issue should have the "help wanted" tag assigned to it?

[2021-09-23 20:29] LynHyper opened #42 "AutoRelay/RelayHop?"
Is hyprspace's node configured with AutoRelay and/or RelayHop enabled? I looked through the code and couldn't find any mention of the settings.

_Originally posted by @LynHyper in https://github.com/hyprspace/hyprspace/discussions/39_

[2021-09-23 20:41] LynHyper commented on #42
As mentioned in https://github.com/hyprspace/hyprspace/discussions/35#discussioncomment-1344799, you've said you wanted to implement a dynamic peer list so peers can learn about each other instead of having to define every peer, I propose enabling AutoRelay and RelayHop in hyprspace nodes to gather this information instead. Here's the idea:

- We have a hyprspace network consisting of some number

[2021-09-23 20:50] LynHyper commented on #42
There was originally a post underneath this one describing how relay multiaddresses could be used for dynamic peer discovery, however, the Peer Records DHT already has the multiaddresses needed so it isn't really necessary to enable AutoRelay/RelayHop for this to work.

[2021-09-23 22:17] #42 closed

[2021-09-23 22:42] LynHyper commented on #36
@alecbcs I found this post in an issue which seems to imply VxWireguard can do NAT hole-punching: https://github.com/m13253/VxWireguard-Generator/issues/2#issuecomment-498973613

[2021-09-23 22:45] LynHyper commented on #36
https://github.com/m13253/VxWireguard-Generator/issues/2#issuecomment-498973613 Seems to state that VxWireguard doesn't support NAT hole-punching currently; it only does relaying

[2021-09-28 17:21] LynHyper opened #43 "Bash completion"
It'd be nice for hyprspace to have bash completions to make typing out the commands a little easier.

[2021-09-29 19:49] LynHyper opened #44 "Persist session info for future connections"
I've noticed that hyprspace seems to take the same amount of time to connect to a peer regardless of whether it's the 1st or 100th time, I'm not sure what hyprspace's node saves between sessions (or if it saves anything), but, I believe it should save some important information to speed up reconnects.

For instance, saving a few of the neighbours of a peer. This would let nodes jump straight to a

[2021-09-29 22:17] notassigned commented on #44
It wouldn't be hard to implement this, but I think that rendezvous discovery is what is making it take a long time. If you do a direct node lookup on the DHT it is actually pretty fast, < 2 seconds. I'm experimenting with some alternative options for discovery, such as gossipsub.

[2021-09-30 03:07] alecbcs commented on #44
Okay this might seem a little weird so bare with me but I'm going to answer your questions in reverse order :P

For authentication we're using libp2p's native public/private key authentication. This style of authentication is very similar to what is used in Wireguard and many other peer-to-peer encryption systems. As a very quick explanation, public and private keys are both one way functions. Thi

[2021-09-30 03:11] alecbcs commented on #44
Are you talking about reconnecting while the daemon is still running or this is the 100th time starting the daemon/interface by running `hyprspace up hs0`? In the case of the ladder we currently don't save any data on the past known address of a peer as it might have moved in the mean time and we don't want to accidentally flood some new computer/firewall with a bunch of unwarranted packets.

I ag

[2021-09-30 10:28] LynHyper commented on #44
Thanks for the explanation! The PubSub method would help connection speeds (also yes, I meant running `hyprspace up hs0`), when you say "looking up peers directly from the DHT" is this in reference to the Peer Records DHT and the idea of saving non-hyprspace peers who are neighbours to the node we want?

[2021-09-30 12:58] notassigned commented on #44
By 'looking up peers directly' I mean doing `KadDHT.FindPeer(context, peerID)` which returns a list of multiaddrs if the node is found. Hyprspace doesn't look up nodes directly. Instead, it provides a CID computed from the discovery string in the config and then finds other peers who are providing that string with `KadDHT.FindProviders(context, cid)` which returns a list of peers
 with their multi

[2021-09-30 13:17] LynHyper commented on #44
Ah okay, I hadn't thought about large peer lists causing problems so this solution makes sense, I'll eagerly await for the PR then. Thanks for contributing to this project btw.

[2021-10-04 15:48] radutopala commented on #29
You need to run `hyprspace` with sudo:
[code]

[2021-10-04 15:57] radutopala commented on #29
Something is still wrong though, can't ping one another and `ip a` does not show the `utun9` added..

[2021-10-04 16:37] radutopala commented on #29
Though, the `utun9` appears in ifconfig: `utun9: flags=8051<UP,POINTOPOINT,RUNNING,MULTICAST> mtu 1420`

[2021-10-06 15:13] Fistboom opened #48 "Could not run on WSL"
$ sudo hyprspace up hs1
[+] Creating TUN Device
2021/10/06 18:11:51 interface already in use

[+] Failed to Create Hyprspace Daemon

[2021-10-27 15:51] LynHyper opened #54 "Issue Template"
An issue template would be a nice addition to make issues easier to solve, some of the current issues didn't initially provide all necessary details like the config and full output and so needed further prompting.

[2021-11-01 16:00] LynHyper opened #57 "File descriptors in namespaces"
For Wireguard (see https://www.wireguard.com/netns/), it will create the file descriptor in the namespace the interface was originally created in, but, it won't move the file descriptor along with the interface. This allows the interface to always have access to the original namespace's interfaces regardless of where the interface is.

e.g. Wireguard creates `wg0` in namespace `1` (global), wg0's

[2021-11-11 21:26] max-privatevoid opened #58 "QUIC, MTU and fragmentation"
It seems that when you have a network that can't carry full 1500 byte IP packets (1468 bytes in my case), Hyprspace over QUIC may end up with a broken connection. Hyprspace uses an internal hardcoded MTU of 1420 bytes. Maybe there's a way to automatically negotiate appropriate MTU sizes?

[2021-11-12 16:50] LynHyper commented on #58
Manually setting MTU, like how it's handled in Wireguard, would also be nice alongside it, `MTU: auto` for negotiated; `MTU: 1420` for manual.

Does libp2p support per-connection MTU settings or is it across all connections the node manages? If it's not doable per-connection then it might interfere with this: https://github.com/hyprspace/hyprspace/discussions/47#discussioncomment-1448528

[2021-11-12 23:20] LynHyper commented on #28
Just thought of a better way of handling this.

Restricting hyprspace to just WAN or LAN would affect portability. So instead, what about an allow and deny list within the hyprspace config to allow or reject traffic coming from outside of hyprspace, for example:

[code]

This allows fine grain control, even allowing you to narrow down to a specific VPN by it's ip-range, thus making it more versati

[2021-11-18 23:08] LynHyper commented on #54
I really shouldn't be the one making calls on this; it's your project. I'll close this

[2021-11-18 23:08] #54 closed

[2022-01-07 05:14] jrop opened #64 "Question (sorry if this is noise): Does libp2p "learn"/swarm from the existing IPFS network?"
First of all, this looks like a fascinating project.  I definitely will watch it closely!  I had a question about libp2p, and thought you might be able to answer it, since you've written an application with it.

**I sincerely hope this is not just "noise" on your GitHub project, so feel free to close the issue as soon as you see it.**

I'm learning a bit more about libp2p, and considering using it

[2022-01-07 22:14] jrop commented on #64
I asked this question on the libp2p Matrix channel, and got the following answer:

[code]

[2022-01-07 22:14] #64 closed

[2022-01-28 02:13] alecbcs commented on #1
@mrbluecoat How are your connectivity/reconnection times?

[2022-01-28 04:21] mrbluecoat commented on #1
@alecbcs Not great. I just tried a connection test and it's going on 11 minutes and counting without a connection.

[code]

Did the recent crypto crash perhaps have an effect on the DHT network?

[2022-01-28 04:47] mrbluecoat commented on #1
P.S. I also tried with [EdgeVPN](https://github.com/mudler/edgevpn) and got a similar result so I think it's DHT

[code]

[2022-02-01 05:27] alecbcs commented on #29
Hey all! I just released Hyprspace v0.2.0 with a bunch of improvements for the way we setup MacOS TUN devices. Hyprspace is now working with my M1 Mac without any additional config! Let me know if you all find any bugs or if #69 fixes this issue for you all!

[2022-02-01 05:28] alecbcs commented on #48
@Fistboom not that this fixes your issues with WSL but we just launched proper Windows support in v0.2.0!

[2022-02-01 05:31] alecbcs commented on #1
I think this might just be that libp2p takes a while to start announcing a new public IP address. I just released v0.2.0, let me know if that changes anything otherwise it's probably worth implementing some logic to check for a new network and manually rebuild the peers. If you restart the interface does it connect quickly?

[2022-02-02 16:06] mrbluecoat commented on #1
Version 0.2.1 connected quickly on my first attempt. I'll keep monitoring, but it looks promising. :star:

[2022-02-02 16:23] mrbluecoat commented on #1
FYI, my home network is running 180 Mbps (per fast.com) but when running iperf3 between my home client and a cloud server with gigabit speed network via hyprspace, I'm only getting ~10 Mbps

[code]

[2022-02-02 16:47] alecbcs commented on #1
@mrbluecoat from what I believe, [fast.com](https://fast.com) only shows you your internet download speed, not your upload speed which is what an iperf test through hyprspace is going to be dependent on. What is your internet's upload speed through [speedtest.net](https://speedtest.net)?

[2022-02-02 17:15] mrbluecoat commented on #1
Good point, upload speed was 10.28 Mbps. What Linux-based bandwidth test do you recommend for hyprspace?

[2022-02-02 21:00] mrbluecoat commented on #1
I performed a more reliable test between two cloud servers in the same data center:

[code]

[code]

[2022-02-03 16:07] alecbcs commented on #1
Nice! That's still lower performance than I'm seeing between two of my systems on a local 1G connection.

[code]

I'm guessing that your results could possibly be lower because of two things. 1) Are your VMs of a shared CPU or dedicated CPU class? Many cloud providers over schedule shared nodes and so you might be hitting up against the CPU rate limit of your instance. 2) If you're getting a QUIC

[2022-02-03 16:20] AndreiTregubovTR commented on #29
v0.2.1 fixed issue for amd64 mac.

[2022-02-03 19:37] mrbluecoat commented on #1
QUIC buffer was set. Using virtual CPUs with the Oracle Cloud arm instances.

[2022-02-04 09:33] radutopala commented on #29
Confirming, all good on Mac now.

[2022-02-04 16:31] alecbcs commented on #29
Great! I'm going to go ahead and mark this as fixed! Happy to reopen if anyone is continuing to have trouble with M1 devices.

[2022-02-04 16:41] alecbcs commented on #44
Hey all! Just wanted to check in here, as of v0.1.7 I believe we're now directly querying the hash table for the peer IDs and connections speeds have been greatly improved! We could probably still set the peers you've previously connected too as a form of bootstrap peers for the next time you boot up the interface but I don't know if that would cause more problems than it'd fix in the case of peer

[2022-02-04 16:44] alecbcs commented on #43
Linking to the upstream issue for this feature. Once this is implemented in the CLI library we use I'll be able to add this here. Until then this feature is being blocked by https://github.com/DataDrake/cli-ng/issues/8.

[2022-02-04 16:52] LynHyper commented on #44
It's true that peers can change multiaddresses in between sessions, this might be addressed by enabling CircuitV2 for Hyprspace nodes, that way if at least one of the memorised multiaddresses work you can quickly discover the multiaddresses for other nodes through the relayed connections. Can't say if this would be any better, let me know what you think.

[2022-02-04 20:31] LynHyper opened #73 "Bootstrap nodes in config"
Right now, bootstrap nodes are hardcoded into Hyprspace:
https://github.com/hyprspace/hyprspace/blob/9a82b53c5d8853e38f10269da9fe96ddc68752fd/p2p/node.go#L60
These bootstrap nodes can be replaced for each Hyprspace release, but, some countries or firewalls might block the official bootstrap nodes.

I propose adding a `bootstrap:` option to the config so that users can add their own bootstrap nodes

[2022-02-11 13:16] LynHyper commented on #44
Being able to set Hyprspace nodes as bootstrap nodes would probably fix this without requiring anything complicated, I've already opened an issue for custom bootstrap nodes in the config, now that query times are much lower compared to when I created this issue I think I'll close this issue.

[2022-02-11 13:16] #44 closed

[2022-02-11 13:22] LynHyper commented on #73
Custom bootstrap nodes is already a planned feature as mentioned at the bottom of https://github.com/hyprspace/hyprspace/issues/51#issuecomment-947334345, I've also seen this mentioned as the plan for Hyprspace in the Matrix room, I'll close this issue.

[2022-02-11 13:22] #73 closed

[2022-03-02 15:54] LynHyper opened #76 "Internal ipv6 support"
https://github.com/hyprspace/hyprspace/pull/37 added support for devices with ipv6 addresses, however, Hyprspace doesn't support using ipv6 for the internal VPN ip-addresses.

Related: https://github.com/hyprspace/hyprspace/discussions/61 https://github.com/hyprspace/hyprspace/pull/62#issuecomment-1055742794

[2022-04-28 03:13] QZAiXH opened #78 "AutoRelay/RelayService"
I am a newbie and I want to try to modify the code.
![image](https://user-images.githubusercontent.com/23068780/165669050-599dec4b-6ae2-49b6-a6fe-a1c14b2dcac8.png)

I have three nodes, A B C. When A and B are behind NAT and I want to relay via C, I add AutoRelay, RelayService to libp2p.new, but it doesn't work

[2022-04-28 19:12] Winterhuman commented on #78
AutoRelay (CircuitV1) is deprecated, use RelayClient (CircuitV2) instead and that *should* work

[2022-04-29 01:23] QZAiXH commented on #78
Hi, thank you for your reply. I didn't find the RelayClient option, where is it.
I am using go-libp2p 0.19.0, Isn't AutoRelay the v2 used?

[2022-04-29 01:29] QZAiXH commented on #78
Do I need to specifically specify a relay node and will libp2p automatically post the relay address for me?

[2022-04-29 10:25] Winterhuman commented on #78
Ah sorry, I got that wrong. AutoRelay *used* to be for CircuitV1, but now all that stuff has been removed (https://github.com/libp2p/go-libp2p/pull/1368/commits/29fd1022a490acc1a155a78170f09729b57c7aa5).

I'm honestly sure where to point you, Libp2p haven't updated the docs or provided any CircuitV2 examples as far as I know, you might want to search for the term "CircuitV2" in GitHub and see if y

[2022-04-29 15:00] alecbcs commented on #78
@QZAiXH I'll take a look into CircuitV2 this weekend and what would need to be implemented to enable this. So far I've held off on integrating a circuit relay into hyprspace because in version 1 there weren't good authentication controls. Within IPFS this meant that if you enabled the relay on one of your nodes, *anyone on the entire IPFS network* could use your node to relay data which could have

[2022-04-30 09:28] QZAiXH commented on #78
Yes, I performed the test. I tested between my company computer and my friend's company computer and we could not connect to each other. My company's NAT type is Port Restricted Cone NAT, my friend's is unknown for now

[2022-05-05 08:54] QZAiXH commented on #78
Hi @alecbcs, any progress on CircuitV2 please? I have researched the code for ipfs and it just creates CircuitV2, how to limit the users connected is not seen.

[2022-05-09 10:32] wfchair opened #79 "cannot ping SBC behind wifi router, from corporate pc"
corporate pc:
cat hs0.yaml
interface:
  name: hs0
  id: Qmbdr
  listen_port: 8001
  address: 10.1.1.1/24
  private_key: !!binary |
    Private key here
peers:
  10.1.1.10:
    id: QmeVT

cat hs0.log
[+] Creating TUN Device
[+] Creating LibP2P Node
2022/05/05 14:20:07 failed to sufficiently increase receive buffer size (was: 208 kiB, wanted: 2048 kiB, got: 416 kiB). See https://github.com/lucas-cle

[2022-05-14 05:02] Shudeng opened #80 "Can not ping when using the phone's wifi or the wifi of university"
Hello, I have encountered a strange problem.

I have a peer which is a cloud server of tencent and the other peer is my mac/ ubuntu computer.

When my personal computer use the the phone's wifi or the wifi of university, the cloud server and my personal computer cannot ping each other.

However, when I use the expressvpn in the personal computer, the ping operation can be successful.
Can anyone he

[2022-05-14 12:07] Shudeng commented on #80
I change the port from 8001 to 443, and all peers can ping each other finnaly.

[2022-05-14 19:49] Winterhuman commented on #80
The University probably just blocks any non-standard ports (aka most things that aren't HTTP, HTTPS, DNS, etc). I don't think Hyprspace can do much to resolve this itself

[2022-05-22 17:48] alecbcs commented on #80
Glad you all figured this out! I agree with @Winterhuman this sounds like your University is blocking access to non standard ports. There really isn't anything we can do within the Hyprspace code base to mitigate this but it might be worth adding a section about this to our docs.

[2022-05-22 17:48] #80 closed

[2022-05-22 17:50] alecbcs commented on #79
@wfchair it sounds like your company could be blocking outgoing connections to non-standard ports (anything not 80, 443, etc...), I'd take a look at #80 and see if that fixes your issue.

[2022-05-22 18:08] alecbcs commented on #78
@QZAiXH is there any chance that your NAT blocks access to non-standard ports? (80, 443, etc...) I'd be curious if you all are able to connect if you do something similar to #80.

Also apologies on the bad communication around the delay getting circuit relay into Hyprspace, I started working on the circuit relay integration but that lead rise to a much larger discussion of a rewrite of the way tha

[2022-05-23 02:07] QZAiXH commented on #78
My friend's company network is Symmetric NAT, and port 80 443 is already occupied, so I can only use a relay to connect.

[2022-05-24 00:51] alecbcs commented on #78
@QZAiXH I want to thank you for your interest in Hyprspace, but if you require a relay to connect between the two nodes why not just use Wireguard to connect the nodes instead? Hyprspace is really meant to connect two nodes directly without passing packets between a publicly available node like as is the case with Wireguard.

[2022-05-24 02:28] QZAiXH commented on #78
@alecbcs thanks for your suggestion. However, what I mentioned above are just my individual scenarios. What I want to achieve is that it is best to connect directly, and relay if not. I think Hyprspace can do exactly the same as zerotier and tailscale.

[2022-07-03 19:08] DillFrescott opened #83 "Error I encountered on Windows"
2022/07/03 15:07:43 Failed to find the tap device in registry with specified ComponentId 'tap0901' and InterfaceName 'test', TAP driver may be not installed or you may have specified an interface name that doesn't exist

[2022-07-03 19:09] DillFrescott commented on #83
I tried installing a tap driver to no avail :( It installed correctly but hyprspace still threw the error.

[2022-07-07 02:29] QZAiXH commented on #83
You should modify the tap name to what you need
![image](https://user-images.githubusercontent.com/23068780/177677643-443f29e5-ba39-4b04-8e0e-41040114f22d.png)

[2022-07-07 02:32] QZAiXH commented on #83
@DillFrescott You may need to run hyprspace with administrator privileges

[2022-07-07 02:39] DillFrescott commented on #83
Ok thank you!

[2022-07-08 04:26] DillFrescott opened #85 "Is there a way to run this on Android?"
I'd love to be able to connect my services to my phone using hyprspace. Is this possible or planned possibly?

[2022-07-12 18:18] alecbcs commented on #85
Hey all!

At the moment there isn't a way to run Hyprspace on Android and as of right now I don't have anything planned.

I think mobile support would be great, but I don't have experience in developing Android apps. If anyone's got Android development experience and would be interested on helping build apps for Hyprspace let me know!

Another way of using Hyprspace on Android might be to implemen

[2022-07-12 18:20] alecbcs commented on #83
@DillFrescott were you able to get this working on Windows? If so are you alright if we go ahead and close this issue?

[2022-07-12 18:21] alecbcs commented on #79
I'm going to go ahead and close this issue due to a lack of activity. If anyone else runs across this issue feel free to ping me and we can reopen this!

[2022-07-12 18:21] #79 closed

[2022-07-12 19:37] DillFrescott commented on #83
Yes I was! Sorry I forgot to mention that in another comment!

[2022-07-12 19:37] alecbcs commented on #83
Great! No worries!

[2022-07-12 19:37] #83 closed

[2022-07-19 13:17] Winterhuman opened #86 "`InterfaceName` has no help description"
The `hyprspace help {init,up,down}` commands don't show descriptions for the `InterfaceName` argument.

[2022-07-21 12:26] Winterhuman opened #87 "`hyprspace up`: link to UDP-Receive-Buffer-Size"
As described in https://github.com/lucas-clemente/quic-go/wiki/UDP-Receive-Buffer-Size, "high-bandwidth connections can be limited by the size of the UDP receive buffer".

`kubo daemon` prints a link to this page when it can't raise the limit any higher, it may be a good idea to have `hyprspace {up,init}` do the same so users aren't being limited without them knowing.

[2022-07-23 20:59] borepstein opened #90 "running Hyprspace in a Docker container"
I have implemented this in the following pull request:

https://github.com/hyprspace/hyprspace/pull/82

[2022-07-23 21:00] borepstein opened #91 "Hyprspace status"
It would be very helpful to get some sort of a status panel/performance functionality in place.

It will help understand what nodes in a cluster are online, how good the connectivity is between them, etc.

[2022-08-03 19:31] bmullan opened #92 "config for multiple Peers"
the README file only show 2 peers

  10.1.1.2:
    id: YOUR-OTHER-PEER-ID

but what if each Node is connected to more than 1 peer

Does the above just get expanded to:

  10.1.1.2:
      id: your peer2 ID
   10.1.1.3:
      id: your peer3 ID

etc...

[2022-08-04 12:47] Winterhuman commented on #92
@bmullan Multiple peers would be configured like:

[code]

[2022-08-04 14:23] bmullan commented on #92
Thanks
Thats what I guessed !

On Thu, Aug 4, 2022, 8:47 AM Winterhuman ***@***.***> wrote:

[2022-08-06 04:26] zuypt opened #93 "Crashes on Windows after running for a while"
I encountered the following exception after running hyprspace for a while on Windows

[code]

[2022-08-18 23:16] #92 closed

[2022-08-21 16:14] aabbtree77 opened #94 "Compilation on a 32-bit Ubuntu 18.04"
This is not an issue, but more like some brief memo in case someone or me in the future has to run hyprspace on a 32 bit system.

Running "sudo curl -L https://hyprspace.io/install.sh | bash" does not work on my 32 bit Ubuntu 18.04 machine as there seem to be no binaries provided.

After git-cloning the source code and running "go build" the compilation halts with
[code]
BTW, this takes place in b

[2022-09-02 03:10] diyism opened #96 "[Feature Request] Support userspace networking just like tailscale"
I'm using tailscale like this:

[code]

Anyone can add userspace-networking function into hyprspace?

[2022-10-16 12:25] Error996 opened #97 "[Feature Request] Need Freebsd Version"
For Pfsense/OPNsense

[2022-10-16 12:50] PageNotFound200 opened #98 "[Feature Request] Need Freebsd Version"
For pfsense

[2022-10-16 12:53] MIAOBUSI commented on #97
For Pfsense/OPNsense

[2022-10-16 12:56] jingyuanbiao commented on #97
needed,needed!

[2022-10-16 13:00] #98 closed

[2022-10-16 13:00] PageNotFound200 commented on #97
For Pfsense/OPNsense~

[2022-10-16 15:01] Error996 commented on #97
`https://github.com/xjasonlyu/tun2socks/tree/main/core/device/tun`

Example:
`https://github.com/HyNetwork/hysteria/tree/master/pkg/tun`